{% extends 'base.html' %}


{% block content %}

<form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="cadastro">
        <div class="row align-items-start">
            <div class="col-4">
                <label for="exampleFormControlInput1">ISBN de 13 dígitos</label>
                <input type="text" min="13" max="13" name="isbn" class="form-control" id="isbn" onkeyup="numero(this)">
            </div>
            <div class="col-7">
                <label for="exampleFormControlInput1">Título</label>
                <input type="text" name="titulo" class="form-control" id="titulo">
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col-5">
                <label for="exampleFormControlInput1">Autor</label>
                <input type="text" name="autor" class="form-control">
            </div>
            
            <div class="col-6">
                <label for="exampleFormControlInput1">Imagem</label>
                <input type="file" name="foto" class="form-control" id="foto">
            </div>
            <div class="col-6">
                <label>Gênero</label>
                {{ form.genero }}
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
            <textarea class="form-control"  name="descricao" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <br>
        <div>
            <button type="submit" class="btn btn-success">
                Enviar
            </button>
        </div>
    </div>
</form>

{% endblock content %}