{% extends 'base.html' %}

{% block content %}


<form action="." method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    
    <div class="container2">
        <div class="align-middle">
            <div class="col-4">
                <label for="exampleFormControlInput1">Gênero</label>
                <input type="text" name="genero">
                <button type="submit" class="btn btn-dark" >
                    Salvar
                </button>
            </div>
        </div>
        <div>
            {% for message in messages %}
            {% if messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Gênero</th>
                    <th scope="col">Deletar</th>
                  </tr>
                </thead>
            {% for i in Genero %}
                <tbody hx-confirm="Deseja excluir o gênero {{ i.genero }}?" hx-target="closest tr" hx-swap="outerHTML swap:1s">
                  <tr>
                    <td>{{ i.genero }}</td>
                    <td>
                        <button class="btn btn-danger" hx-get="{% url 'deletar_genero' i.id %}" hx-delete="/contact/1">                    
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg>
                        </button>
                    </td>
                  </tr>
                </tbody>
              

            {% endfor %}
            </table>
        </div>
    </div>
</form>

{% endblock %}